<p id="notice"><%= notice %></p>
<p>Welcome <%=@current_user_name%>
<h2>Catalog Items</h2>
<ul>
  <% @catalog_items.each do |ci| %>
    <li>
      <%= link_to ci.title, ci %>
      <%= link_to "Edit", edit_catalog_item_path(ci) %>
      <%= link_to "Delete", catalog_item_path(ci),
                            method: :delete,
                            data: { confirm:
                                      "Are you sure you want to delete this item?"
                                  } %>
    </li>
  <%end%>
</ul>

<%= link_to "New Item", new_catalog_item_path %>
